<!DOCTYPE html>
<html>
  <head>
    <title>Relo-Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="container flex flex-col items-center justify-center">
      <%= yield %>
    </section>
  </body>
</html>
